{% extends "base/main.html" %}
{% block content %}
{% include "base/header.html" %}
    <div class="container">
        <div class="card">
            <div class="card-header text-white {% block titlecolor %}{% endblock %}">
                <h2>{% block title %}{% endblock %} category</h2>
            </div>
            {% block addedit %}
            {% endblock %}
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <label for="categoryName">Name</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryName" required {% block name %}{% endblock %}>
                    </div>
                    <div class="row justify-content-sm-center">
                        <div class="col-md-2 form-group">
                            <a class="btn btn-block {% block btncolor1 %}{% endblock %}" href="{{url_for('show_catalog')}}">Cancel</a>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-block {% block btncolor2 %}{% endblock %}">{% block btnaction %}{% endblock %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}