{% extends "base/main.html" %}
{% block content %}
{% include "base/header.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <nav class="card">
                <header class="card-header">
                    {% block categoryheader %}
                    {% endblock %}
                </header>
                <ul class="list-group">
                    {% block categorylist %}
                    {% endblock %}
                </ul>
            </nav>
        </div>
        <section class="col-md-8">
            <div class="card">
                <header class="card-header">
                    {% block itemsheader %}
                    {% endblock %}
                </header>
                <div class="card-body">
                    <div class="row">
                        {% block itemlist %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}