{% extends "base/catalogtemplate.html" %}
{% block categoryheader %}
    <div class="row">
        <div class="col">
            <h3>Categories</h3>
        </div>
        <div class="col-auto">
            <a href="{{url_for('new_category')}}" class="list-group-item list-group-item-action">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block categorylist %}
    <div class="container-fluid">
        {% if categories %}
            {% for category in categories %}
                <div class="row">
                    <div class="no-padding col">
                        <a href="{{url_for('show_category', category_slug=category.slug)}}" id="no-border" class="list-group-item list-group-item-action">
                            {{category.name}}
                        </a>
                    </div>
                    {% if category.id_user == session['user_id']%}
                        <div class="no-padding col-auto">
                            <a href="{{url_for('edit_category', category_slug=category.slug)}}" id="no-right-border" class="list-group-item list-group-item-action">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="no-padding col-auto">
                            <a href="{{url_for('delete_category', category_slug=category.slug)}}" id="no-right-border" class="list-group-item list-group-item-action">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="col text-center">
                <h5>No categories to show</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block itemsheader %}
    {% block itemtitle %}
    {% endblock %}
{% endblock %}

{% block itemlist %}
    {% block items %}
    {% endblock %}
{% endblock %}
